/* CSS - Main Stylesheet - style.css */

/* BODY AND CONTAINER 
--------------------------------------------- */
body {
	font-size: 76%;
	background:url(../images/bg-repeat-body.gif) repeat-x;
	padding: 0px;
	margin: 0px;
	background-color: #000;
}