/* CSS - Main Stylesheet - style.css */

/* BODY AND CONTAINER 
--------------------------------------------- */
body {
	font-size: 76%;
	background: url(images/bg-strip-body.gif) repeat-x;
	padding: 0px;
	margin: 0px;
}

#container {
	overflow: hidden;
	width: 960px;
	padding: 0px;
	margin: 0 auto 0 auto;	
}


/* LOGO 
--------------------------------------------- */
#logo {
	float: left;
	width: 300px;
	height: 105px;
	padding: 25px 0 0 0;
	margin: 0px;	
}


/* MAIN NAVIGATION 
--------------------------------------------- */
#nav {
	float: left;
	width: 660px;
	height: 130px;
	padding: 0px;
	margin: 0px;	
}

#nav ul {
	position: relative;
	top: 54px;
	float: right;
	list-style: none;
	padding: 0px;
	margin: 0px;	
}

#nav ul li {
	float: left;
	padding: 0 0 0 15px;
	margin: 0px;	
}

#nav ul li a {
	font-family: Arial, Helvetica, sans-serif;
		font-size: 1.25em;
		color: #666;
		font-weight: normal;	
	text-decoration: none;
}
#nav ul li a:hover { color: #bbb; }

#nav li.current_page_item a {
	display: block;
	position: relative;
		bottom: 10px;
	border-radius: 10px 10px 0px 0px; 
		-moz-border-radius: 10px 10px 0px 0px; 
		-webkit-border-radius: 10px 10px 0px 0px; 
	border-top: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 2px solid #fff;
		border-left: 1px solid #ccc;
	background-color: #fff;
	color: #444 !important;
	padding: 10px 15px 2px 15px;
	margin: 0px;
}

#nav li.current_page_parent a {
	display: block;
	position: relative;
		bottom: 10px;
	border-radius: 10px 10px 0px 0px; 
		-moz-border-radius: 10px 10px 0px 0px; 
		-webkit-border-radius: 10px 10px 0px 0px; 
	border-top: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 2px solid #fff;
		border-left: 1px solid #ccc;
	background-color: #fff;
	color: #444 !important;
	padding: 10px 15px 2px 15px;
	margin: 0px;
}


/* CONTENT WRAPPER
--------------------------------------------- */
#content-wrapper {
	float: left;
	width: 960px;
	/*background: url(images/masthead-about.png) left top no-repeat;*/
	padding: 0px;
	margin: 0 0 50px 0;	
}

.index { background: url(images/bg-masthead-index.png) left top no-repeat; }
.about-us { background: url(images/bg-masthead-about-us.png) left top no-repeat; }
.programs-and-events { background: url(images/bg-masthead-programs-and-events.png) left top no-repeat; }
.news { background: url(images/bg-masthead-news.png) left top no-repeat; }
.drug-info { background: url(images/bg-masthead-drug-info.png) left top no-repeat; }
.resources { background: url(images/bg-masthead-resources.png) left top no-repeat; }
.contact-us { background: url(images/bg-masthead-contact-us.png) left top no-repeat; }


/* MAIN CONTENT
--------------------------------------------- */
#content-main {
	float: left;
	width: 629px;
	padding: 0 80px 0 0;
	margin: 0px;	
}


/* SUB CONTENT
--------------------------------------------- */
#content-sub {
	float: left;
	width: 200px;
	border-left: 1px dotted #909090;
	padding: 0 0 0 20px;
	margin: 270px 0 0 0;	
}


/* SUB NAVIGATION 
--------------------------------------------- */
#subnav {
	float: left;
	width: 255px;
	padding: 0px;
	margin: 0px;	
}

#subnav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;	
}

#subnav ul li {
	border-top: 1px dotted #ccc;
	padding: 0 0 0 15px;
	margin: 0px;	
}

#subnav ul li a {
	font-family: Arial, Helvetica, sans-serif;
		font-size: 1.4em;
		line-height: 2.0em;
		color: #666;
		font-weight: normal;	
	text-decoration: none;
}
#subnav ul li a:hover { color: #df7000;	}

#subnav li.current_page_item {
	width: 100%;
	background-color: #eee;
}


/* FOOTER
--------------------------------------------- */
#footer-wide {
	width: 100%;
	height: 200px;
	border-top: 5px solid #a3a3a3;
		border-bottom: 5px solid #a3a3a3;
	background-color: #e1e1e1;
	padding: 0px;
	margin: 50px 0 0 0;	
}

#footer {
	width: 960px;
	height: 150px;
	padding: 25px 0 25px 0;
	margin: 0 auto 0 auto;	
}

.footer-main {
	float: left;
	width: 600px;
	height: 125px;
	border-left: 1px dotted #909090;
	font-family: Arial, Helvetica, sans-serif;
		font-size: 0.9em;
		line-height: 1.0em;
		color: #858585;
		font-weight: normal;
		text-decoration: none;
	padding: 25px 0 0 20px;
	margin: 0px;		
}
.footer-main a { color: #858585; text-decoration: none;	}
.footer-main a:hover { color: #666; text-decoration: underline;	}

.footer-sub {
	float: left;
	height: 150px;
	border-left: 1px dotted #909090;
	padding: 0 20px 0 20px;
	margin: 0px;		
}


/* FOOTER (HOME PAGE ONLY)
--------------------------------------------- */
#footer-home {
	float: left;
	width: 960px;
	border-top: 1px solid #ccc;
	padding: 25px 0 10px 0;
	margin: 0px;
}

.btn-highlight {
	float: left;
	display: block;
	width: 202px;
	height: 70px;
	background-color: #abab53;
	border-radius: 10px; 
		-moz-border-radius: 10px; 
		-webkit-border-radius: 10px; 
		border: 2px solid #ccc;
	font-family: Arial, Helvetica, sans-serif;
		font-size: 1.8em;
		color: #fff;
		font-weight: bold;
	text-decoration: none;
	padding: 18px 12px 8px 12px;	
	margin: 0 5px 0 5px;
}

.btn-highlight:hover { background-color: #df7000; }

.highlight-fade { color: #e2e2c5; }


/* TYPOGRAPHY ELEMENTS
--------------------------------------------- */
@font-face { font-family: Ledger-Regular; src: url('fonts/Ledger-Regular.ttf'); }

h1 {
	font-family: Ledger-Regular, serif;
		font-size: 3.2em;
		color: #abab53;
		font-weight: bold;
	padding: 0px;
	margin: 77px 0 60px 0;	
}

h2 {
	font-family: Ledger-Regular, serif;
		font-size: 2.1em;
		color: #df7000;
	padding: 0px;
	margin: 50px 0 -8px 0;	
}

h3 {
	font-family: Ledger-Regular, serif;
		font-size: 1.1em;
		color: #777;
		font-weight: bold;
		text-transform: uppercase;
	padding: 0px;
	margin: 10px 0 0 0;	
}

p, #content-main ul, #content-main ol {
	font-family: Arial, Helvetica, sans-serif;
		font-size: 1.3em;
		line-height: 1.45em;
		color: #858585;
		font-weight: normal;
}

#content-main ul ul, #content-main ol ol {
	font-size: 1.10em;
}

#content-main ul li, #content-main ol li {
	padding: 7px 0 0 0;
}

#content-main a, #content-sub p a { color: #666; text-decoration: none; background-color: #efefef; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; padding: 1px 7px 1px 7px; }
#content-main a:hover, #content-sub p a:hover { color: #333; background-color: #d6d6d6; }

hr { width: 100%; height: 5px; border: none; border-top: 1px solid #ccc; margin: 30px 0 30px 0; }


/* IMAGE ELEMENTS
--------------------------------------------- */
a img { border: none; }
.wrap-right { float: left; padding: 0px; margin: 0px 15px 0 0; }


/* BUTTON ELEMENTS
--------------------------------------------- */
.icon:hover {
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */	
}

.btn-green {
	display: block;
	width: 130px;
	height: 15px;
	background-color: #8bc53e;
	border-radius: 10px; 
		-moz-border-radius: 10px; 
		-webkit-border-radius: 10px; 
		border: 3px solid #fff;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
		font-size: 1.2em;
		line-height: 15px;
		color: #fff;
		font-weight: bold;
		font-style:  italic;
	text-decoration: none;
	padding: 8px 12px 8px 12px;	
	margin: 8px 0 -5px 0;
}

.btn-orange {
	display: block;
	width: 130px;
	height: 15px;
	background-color: #f6921c;
	border-radius: 10px; 
		-moz-border-radius: 10px; 
		-webkit-border-radius: 10px; 
		border: 3px solid #fff;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
		font-size: 1.2em;
		line-height: 15px;
		color: #fff;
		font-weight: bold;
		font-style:  italic;
	text-decoration: none;
	padding: 8px 12px 8px 12px;	
	margin: 0 0 -5px 0;
}

.btn-blue {
	display: block;
	width: 130px;
	height: 15px;
	background-color: #00adee;
	border-radius: 10px; 
		-moz-border-radius: 10px; 
		-webkit-border-radius: 10px; 
		border: 3px solid #fff;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
		font-size: 1.2em;
		line-height: 15px;
		color: #fff;
		font-weight: bold;
		font-style:  italic;
	text-decoration: none;
	padding: 8px 12px 8px 12px;	
	margin: 0px;
}

.btn-green:hover, .btn-orange:hover, .btn-blue:hover {
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */	
}


/* FORM ELEMENTS
--------------------------------------------- */
.form-box { border: 1px solid #ccc; padding: 3px; }
input:focus { border: 2px solid #df7000; }

form#searchform { clear: both; padding: 50px 0 0 0; }
li#search-2.widget-container.widget_search { list-style: none; }
label.screen-reader-text { display: none; }
input#s { width: 196px; border: 1px solid #ccc; }
input#searchsubmit { float: right; margin: 2px 0 0 0; }


/* TABLE ELEMENTS (EVENTS MANAGER WIDGET)
--------------------------------------------- */
.events-table {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
		font-size: 1.2em;
		line-height: 1.8em;
		color: #858585;
	margin: -30px 0 0 0;
}

.event-time { display: none; }
.event-description { display: none; }
.event-link { font-size: 1.2em; font-weight: bold; margin: 0 0 0 -7px; }
.event-location { font-size: 0.8em; font-style: italic; margin: 12px 0 0 0; }

.events-table tr { height: 75px; }
.events-table tr td { border-top: 1px solid #ccc; padding: 10px; }

.events-table tr:nth-child(odd) {background-color: #fff;}
.events-table tr:nth-child(even) {background-color: #fff;}


/* PRIMARY WIDGET (EVENTS MANAGER WIDGET)
--------------------------------------------- */
#primary-widget {
	float: left;
	width: 100%;
	list-style: none;
	border-top: 1px dotted #ccc;
	background-color: #eee;	
	padding: 0px;
	margin: 50px 0 0 0;
}

.em-calendar { width: 100%; border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 0.9em; }
.em-calendar tr, .em-calendar td  { height: 20px; border: 1px solid #fff; text-align: center; }

.widget-title { border-bottom: 1px solid #ccc; text-align: center; padding: 3px 0 3px 0; margin: 0 0 5px 0; }
.month_name { background-color: #ddd; font-weight: bold; }
.days-names { background-color: #ddd; }
td.eventful { background-color: #f6921c; }
td.eventful a { color: #fff; font-weight: bold; text-decoration: none; }
td.eventful:hover { background-color: #00adee; }


/* IMAGE GALLERY (NEXTGEN GALLERY WIDGET)
--------------------------------------------- */
.ngg-clear { clear: both; }
.ngg-gallery-thumbnail-box { float: left; margin: 0 0 15px 0; }
.ngg-gallery-thumbnail { background-color: #e7e7e7; padding: 15px 0 15px 0; }


/* TWITTER FEED
--------------------------------------------- */
#twtr-widget-1 .twtr-bd p {font-size: 1.0em; }